# Data files
*.tsv
*.csv
*.tsv.gz.*
*.part*

# Databases
*.db
*.sqlite
*.sqlite3

# Python
venv/
env/
__pycache__/
*.pyc
.env

# Node
node_modules/
data_cleaner/dist/
build/
.npm/

# OS/IDE
.DS_Store
.idea/
.vscode/
